<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>

    <main>
        <br><section> All articles in the category: <% allCategories.forEach((e) => { %>
            <% if (e.slug === slug) { %>
            <%=  e.name %>
        <% }}) %></section> <br>  
    </main>

    <%- include('footer') %>
</body>
</html>