<header>
    <a href="/"><img src="#" alt="Logo_here"></a>
    
    <nav style="display: inline;">
        <label>Search div here-\/</label>
        <select name="cars" id="cars">
            <option value="personal_info">Лична информация</option>
            <option value="works_insurances">Работа и осигуровки</option>
            <option value="tax_finances">Данъци и финанси</option>
            <option value="healthcare">Здравеопазване</option>
            <option value="education">Опразование</option>
            <option value="transport_driving">Транспорт и шофиране</option>
            <option value="house">Жилище и комунални</option>
            <option value="citizen_rights">Граждански права</option>
            <option value="foreign_trip">Пътуване в чужбина</option>
            <option value="e_services">Електронни услуги</option>
        </select>
        <a href="/frequently-asked-questions"><label for="">Най-четени публикации</label></a>
        <a href="/about-page"><label for="">За сайта </label></a>
        <a href="/feedback"><label for="">Обратна връзка </label></a>
    </nav>
    <a href="/"><img src="" alt="facebook_icon"></a>
    <a href="/"><img src="" alt="instagram_icon"></a>
</header>