<header>
  <style>
    .nav-link i.fa:not(.fa-search) {
      font-size: 1.2rem;
      text-align: center;
      text-decoration: none;
      margin-right: 3px;
      padding: 6px 10px;
      border-radius: 20px;
    }

    .fa-facebook {
      color: white;
      background-color: rgb(24, 119, 242);
    }

    .fa-instagram {
      color: white;
      background: #F9CE34;
      background: linear-gradient(90deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 50%, rgba(98, 40, 215, 1) 100%);
    }

    .nav-text {
      transition: all 0.3s ease;
      border-radius: 10px;
      padding: 4px 8px;
    }

    .nav-text:hover {
      background-color: aqua;
      color: white;
      transform: scale(1.05);
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" href="/">
      <img src="/images/noBgBlack.png" alt="Logo_here">
    </a>

    <form class="d-flex ms-3" action="/search_results" method="get">
      <input class="form-control me-2" type="text" placeholder="Search..." name="search" value="<%= search || '' %>">
      <button class="btn btn-outline-primary" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="ms-auto d-flex align-items-center gap-3">
      <a class="nav-link me-3 nav-text" href="/all-categories">Категории</a>
      <a class="nav-link me-3 nav-text" href="/about-page">За сайта</a>
      <a class="nav-link me-3 nav-text" href="/feedback">Обратна връзка</a>

      <a class="nav-link me-3" href="#"><i class="fa fa-facebook"></i></a>
      <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>

    </div>
  </nav>
</header>